{% extends 'core/base.html' %}

{% block title %}Categoría no encontrada{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 md:px-6 py-8 bg-gray-100">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8">
            <div class="col-span-full">
                <h1 class="text-3xl font-bold text-center mb-6">Categoría no encontrada</h1>
                <p class="text-gray-600 text-center">Lo sentimos, la categoría solicitada no existe.</p>
            </div>
        </div>
    </div>
{% endblock content %}
